
p#disclaimer{
    padding-bottom: 20px;
    -webkit-text-size-adjust: none;
}


div.menu_tables {
    margin:20px auto;
    width:450px;
}

div.menu-option{
    width: 100%;
}


div.menu-option {
    text-align: center;
}


dig {
    -webkit-box-shadow: 0 0 5px 5px black;
    box-shadow: 0 0 5px 5px black;
}




